#!/bin/bash

# {{ eap_instance_name }}:       Start up {{ eap_instance_name }}
#
# chkconfig: 345 99 28
# description: This service starts up {{ eap_instance_name }}
#
# processname: {{ eap_instance_name }}

### BEGIN INIT INFO
# Provides: {{ eap_instance_name }}
# Required-Start: $local_fs $network
# Required-Stop: $local_fs
# Default-Start: 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start up {{ eap_instance_name }}
# Description: This service starts up {{ eap_instance_name }}.
### END INIT INFO

ACTION=$1
RUNUSER={{ eap_user }}
USAGE="$(basename $0) <start|stop|restart|status>"

case $ACTION in

        start)
                su - $RUNUSER -c "{{ eap_basedir }}/{{ eap_instance_name }}/bin/proc.sh start"
                ;;
        stop)
                su - $RUNUSER -c "{{ eap_basedir }}/{{ eap_instance_name }}/bin/proc.sh stop"
                ;;
        restart)
                su - $RUNUSER -c "{{ eap_basedir }}/app/{{ eap_instance_name }}/bin/proc.sh restart"
                ;;
        status)
                su - $RUNUSER -c "{{ eap_basedir }}/{{ eap_instance_name }}/bin/proc.sh status"
                ;;
        *)      echo $USAGE
                ;;
esac
